/* 全局样式表 */
html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.el-form {
  margin-top: 20px;
}
.el-table {
  margin-top: 20px;
}

.el-pagination {
  margin-top: 20px;
}

.box-card-lite {
  text-align: center;
}

.card-container {
  min-height: 650px;
  margin-top: 15px;
}
